// =================== CORES =================== //

// # Básicas

$white: #FFFFFF;
$black: #000000;
$destaque: #5a9711;
$borda: #4c4c4c;
$bordaCarrinho: #e5e5e5;

// # Textos

$textoPadrao: #808080;
$textoCarrinho: #666666;
$textoTotal: #5a9711;

// # Backgrounds

$fundoPadrao: #1f1f1f;
$fundoMenu: #141414;
